<h2>Load packages and environment variables</h2>

In [150]:
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv

import os

load_dotenv(override=True)

True

<h2>Load data path</h2>

In [151]:
sample_realtime_data_path = Path(os.getenv("DATA_PATH")) / 'Historical GTFS and GTFS Realtime - Metro'
sample_static_data_path = Path(os.getenv("DATA_PATH")) / 'Timetables Complete GTFS'

[f for f in sample_realtime_data_path.glob("*.csv")]

[WindowsPath('C:/Users/lng2/Workings/python_training/sample_data/Historical GTFS and GTFS Realtime - Metro/TripUpdate_20220601.csv'),
 WindowsPath('C:/Users/lng2/Workings/python_training/sample_data/Historical GTFS and GTFS Realtime - Metro/TripUpdate_20230601.csv'),
 WindowsPath('C:/Users/lng2/Workings/python_training/sample_data/Historical GTFS and GTFS Realtime - Metro/VehiclePosition_20220601.csv'),
 WindowsPath('C:/Users/lng2/Workings/python_training/sample_data/Historical GTFS and GTFS Realtime - Metro/VehiclePosition_20230819.csv'),
 WindowsPath('C:/Users/lng2/Workings/python_training/sample_data/Historical GTFS and GTFS Realtime - Metro/VehiclePosition_20230820.csv')]

<h2>Load sample data</h2>

In [152]:
df_trip = pd.read_csv(sample_realtime_data_path / 'TripUpdate_20220601.csv')
df_route = pd.read_csv(sample_static_data_path / 'routes.txt')
df_stop = pd.read_csv(sample_static_data_path / 'stops.txt')

<h2>Investigate data</h2>

In [153]:
df_trip.head()

,id,is_deleted,trip_update_delay,timestamp,trip_id,route_id,direction_id,start_time,start_date,trip_schedule_relationship,...,departure_uncertainty,stop_time_schedule_relationship,vehicle,alert,vehicle_id,vehicle_label,vehicle_license_plate,header_gtfs_realtime_version,header_incrementality,header_TimeStamp
0,20220601_192258_20,False,0,0,112-22.300522.15.2015,SMNW_M,0,20:15:00,20220601,0,...,0.0,0,NaN,NaN,NaN,NaN,NaN,1.0,0,1654075378
1,20220601_184046_53,False,0,0,126-05.300522.15.1739,SMNW_M,0,17:39:00,20220601,0,...,0.0,0,NaN,NaN,10.0,05:39pm Chatswood - Tallawong,NaN,1.0,0,1654072846
2,20220601_175536_76,False,0,0,132-03.300522.15.1659,SMNW_M,0,16:59:00,20220601,0,...,NaN,0,NaN,NaN,16.0,04:59pm Chatswood - Tallawong,NaN,1.0,0,1654070136
3,20220601_173432_5,False,0,1654068867,115-17.300522.15.1715,SMNW_M,0,17:15:00,20220601,0,...,0.0,0,NaN,NaN,4.0,05:15pm Chatswood - Tallawong,NaN,1.0,0,1654068872
4,20220601_192742_5,False,0,1654075657,118-19.300522.15.1855,SMNW_M,0,18:55:00,20220601,0,...,0.0,0,NaN,NaN,20.0,06:55pm Chatswood - Tallawong,NaN,1.0,0,1654075662

In [154]:
df_trip.columns

Index(['id', 'is_deleted', 'trip_update_delay', 'timestamp', 'trip_id',
       'route_id', 'direction_id', 'start_time', 'start_date',
       'trip_schedule_relationship', 'current_stop_sequence', 'stop_id',
       'arrival_delay', 'arrival_time', 'arrival_uncertainty',
       'departure_delay', 'departure_time', 'departure_uncertainty',
       'stop_time_schedule_relationship', 'vehicle', 'alert', 'vehicle_id',
       'vehicle_label', 'vehicle_license_plate',
       'header_gtfs_realtime_version', 'header_incrementality',
       'header_TimeStamp'],
      dtype='object')

In [155]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632513 entries, 0 to 2632512
Data columns (total 27 columns):
 #   Column                           Dtype
---  ------                           -----
 0   id                               object
 1   is_deleted                       bool
 2   trip_update_delay                int64
 3   timestamp                        int64
 4   trip_id                          object
 5   route_id                         object
 6   direction_id                     int64
 7   start_time                       object
 8   start_date                       int64
 9   trip_schedule_relationship       int64
 10  current_stop_sequence            int64
 11  stop_id                          int64
 12  arrival_delay                    float64
 13  arrival_time                     float64
 14  arrival_uncertainty              float64
 15  departure_delay                  float64
 16  departure_time                   float64
 17  departure_uncertainty            float64
 18  stop_time_schedule_relationship  int64
 19  vehicle                          float64
 20  alert                            float64
 21  vehicle_id                       float64
 22  vehicle_label                    object
 23  vehicle_license_plate            float64
 24  header_gtfs_realtime_version     float64
 25  header_incrementality            int64
 26  header_TimeStamp                 int64
dtypes: bool(1), float64(11), int64(10), object(5)
memory usage: 524.7+ MB

In [156]:
df_trip.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
trip_update_delay,2632513.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
timestamp,2632513.0,4.064466e+08,7.121004e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.654095e+09
direction_id,2632513.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
start_date,2632513.0,2.022060e+07,5.412601e-02,2.022060e+07,2.022060e+07,2.022060e+07,2.022060e+07,2.022060e+07
trip_schedule_relationship,2632513.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
current_stop_sequence,2632513.0,7.000000e+00,3.741658e+00,1.000000e+00,4.000000e+00,7.000000e+00,1.000000e+01,1.300000e+01
stop_id,2632513.0,2.133517e+06,2.616775e+04,2.067142e+06,2.113361e+06,2.153403e+06,2.154265e+06,2.155270e+06
arrival_delay,2430012.0,-2.287616e+00,1.190852e+02,-5.870000e+02,-2.900000e+01,-1.000000e+01,0.000000e+00,2.491000e+03
arrival_time,2430012.0,8.069292e+08,8.267842e+08,0.000000e+00,0.000000e+00,0.000000e+00,1.654059e+09,1.654095e+09
arrival_uncertainty,2430012.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
departure_delay,2430012.0,4.384491e+01,1.132502e+02,-5.470000e+02,2.100000e+01,3.000000e+01,5.100000e+01,2.523000e+03
departure_time,2430012.0,8.290124e+08,8.270260e+08,0.000000e+00,0.000000e+00,1.654023e+09,1.654060e+09,1.654094e+09
departure_uncertainty,2430012.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
stop_time_schedule_relationship,2632513.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
vehicle,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
alert,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_id,1646788.0,1.215690e+01,6.539803e+00,1.000000e+00,6.000000e+00,1.300000e+01,1.800000e+01,2.200000e+01
vehicle_license_plate,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
header_gtfs_realtime_version,2632513.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
header_incrementality,2632513.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
header_TimeStamp,2632513.0,1.654057e+09,1.895900e+04,1.654019e+09,1.654039e+09,1.654060e+09,1.654072e+09,1.654098e+09

In [157]:
df_trip.isnull().sum()

id                                       0
is_deleted                               0
trip_update_delay                        0
timestamp                                0
trip_id                                  0
route_id                                 0
direction_id                             0
start_time                               0
start_date                               0
trip_schedule_relationship               0
current_stop_sequence                    0
stop_id                                  0
arrival_delay                       202501
arrival_time                        202501
arrival_uncertainty                 202501
departure_delay                     202501
departure_time                      202501
departure_uncertainty               202501
stop_time_schedule_relationship          0
vehicle                            2632513
alert                              2632513
vehicle_id                          985725
vehicle_label                       985725
vehicle_license_plate              2632513
header_gtfs_realtime_version             0
header_incrementality                    0
header_TimeStamp                         0
dtype: int64

In [158]:
df_stop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116702 entries, 0 to 116701
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   stop_id              116702 non-null  object
 1   stop_code            60974 non-null   float64
 2   stop_name            116702 non-null  object
 3   stop_lat             116702 non-null  float64
 4   stop_lon             116702 non-null  float64
 5   location_type        55419 non-null   float64
 6   parent_station       62558 non-null   object
 7   wheelchair_boarding  115628 non-null  float64
 8   level_id             62477 non-null   object
 9   platform_code        885 non-null     object
dtypes: float64(5), object(5)
memory usage: 8.9+ MB

In [159]:
df_route.info()

df_route[df_route['agency_id'].str.contains('SMNW')]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8431 entries, 0 to 8430
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   route_id          8431 non-null   object
 1   agency_id         8431 non-null   object
 2   route_short_name  8431 non-null   object
 3   route_long_name   8431 non-null   object
 4   route_desc        8431 non-null   object
 5   route_type        8431 non-null   int64
 6   route_color       8431 non-null   object
 7   route_text_color  8431 non-null   object
 8   exact_times       8431 non-null   int64
dtypes: int64(2), object(7)
memory usage: 592.9+ KB

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color,exact_times
2415,3-M-sj2-1,SMNW,M,M Metro North West Line,Sydney Metro Network,401,168388,FFFFFF,0

<h2> Transform data for use case </h2>

In [182]:
# add mappings - stop
df_trip['stop_id'] = df_trip['stop_id'].astype(str)
df_stop['stop_id'] = df_stop['stop_id'].astype(str)
df_combined = df_trip.merge(df_stop, how = 'left', on = ['stop_id'], copy = True)

[df_trip.shape[0], df_combined.shape[0]]

[2632513, 2632513]

In [187]:
cols_to_use = ['id','header_TimeStamp'
                ,'route_id','trip_id'
                ,'current_stop_sequence','stop_id','stop_name'
                ,'vehicle_label'                
                ,'start_date','start_time','departure_delay','departure_time','arrival_delay','arrival_time']

# convert datetime format
df_combined['header_TimeStamp'] = pd.to_datetime(df_combined['header_TimeStamp'], unit = 's')
df_combined['arrival_time'] = pd.to_datetime(df_combined['arrival_time'], unit = 's')
df_combined['departure_time'] = pd.to_datetime(df_combined['departure_time'], unit = 's')

# pd.set_option('display.max_columns', 20)
# df_combined[cols_to_use][~df_combined['vehicle_label'].isna()].sort_values(['id','current_stop_sequence']).head(50)
df_combined[cols_to_use][~df_combined['vehicle_label'].isna()].sort_values(['trip_id','current_stop_sequence','header_TimeStamp']).head(50)

# df_combined[cols_to_use][df_combined['id'].isin(['20220602_014257_1','20220601_042646_1'])].sort_values(['id','current_stop_sequence'])
# df_combined[cols_to_use][df_combined['trip_id'].isin(['101-02.300522.15.0435']) & df_combined['current_stop_sequence'] == 1].sort_values(['id','current_stop_sequence'])
# TODO remove trips where the metro did not depart at all e.g. id = 20220601_042646_1 - or is this a snapshot when the vehicle hasn't moved yet - perhaps remove where departure_time = 1970 AND only pick the earliest first header_TimeStamp (or remove duplicates)

# TODO identify and remove duplicates

,id,header_TimeStamp,route_id,trip_id,current_stop_sequence,stop_id,stop_name,vehicle_label,start_date,start_time,departure_delay,departure_time,arrival_delay,arrival_time
2167630,20220601_042646_1,2022-05-31 18:26:46,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,30.0,1970-01-01 00:00:00,NaN,NaT
2032450,20220601_042701_1,2022-05-31 18:27:01,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-456.0,1970-01-01 00:00:00,NaN,NaT
2092296,20220601_042717_1,2022-05-31 18:27:17,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-440.0,1970-01-01 00:00:00,NaN,NaT
2036929,20220601_042733_1,2022-05-31 18:27:33,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-424.0,1970-01-01 00:00:00,NaN,NaT
2190847,20220601_042748_1,2022-05-31 18:27:48,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-408.0,1970-01-01 00:00:00,NaN,NaT
2172805,20220601_042804_1,2022-05-31 18:28:04,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-391.0,1970-01-01 00:00:00,NaN,NaT
2094562,20220601_042819_1,2022-05-31 18:28:19,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-375.0,1970-01-01 00:00:00,NaN,NaT
1857863,20220601_042835_1,2022-05-31 18:28:35,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-365.0,1970-01-01 00:00:00,NaN,NaT
2181800,20220601_042851_1,2022-05-31 18:28:51,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-349.0,1970-01-01 00:00:00,NaN,NaT
1902484,20220601_042906_1,2022-05-31 18:29:06,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-333.0,1970-01-01 00:00:00,NaN,NaT
2167712,20220601_042922_1,2022-05-31 18:29:22,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-317.0,1970-01-01 00:00:00,NaN,NaT
1961862,20220601_042937_1,2022-05-31 18:29:37,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-301.0,1970-01-01 00:00:00,NaN,NaT
2105631,20220601_042953_1,2022-05-31 18:29:53,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-284.0,1970-01-01 00:00:00,NaN,NaT
2181657,20220601_043009_1,2022-05-31 18:30:09,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-268.0,1970-01-01 00:00:00,NaN,NaT
2149082,20220601_043024_1,2022-05-31 18:30:24,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-252.0,1970-01-01 00:00:00,NaN,NaT
2165085,20220601_043040_1,2022-05-31 18:30:40,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-237.0,1970-01-01 00:00:00,NaN,NaT
1942156,20220601_043056_1,2022-05-31 18:30:56,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-221.0,1970-01-01 00:00:00,NaN,NaT
1857826,20220601_043111_1,2022-05-31 18:31:11,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-205.0,1970-01-01 00:00:00,NaN,NaT
1817659,20220601_043127_1,2022-05-31 18:31:27,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-189.0,1970-01-01 00:00:00,NaN,NaT
2028073,20220601_043142_1,2022-05-31 18:31:42,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-173.0,1970-01-01 00:00:00,NaN,NaT
1826589,20220601_043158_1,2022-05-31 18:31:58,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-157.0,1970-01-01 00:00:00,NaN,NaT
2160269,20220601_043229_1,2022-05-31 18:32:29,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-130.0,1970-01-01 00:00:00,NaN,NaT
1089093,20220601_043245_1,2022-05-31 18:32:45,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-114.0,1970-01-01 00:00:00,NaN,NaT
1586004,20220601_043300_1,2022-05-31 18:33:00,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-98.0,1970-01-01 00:00:00,NaN,NaT
1442768,20220601_043316_1,2022-05-31 18:33:16,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-82.0,1970-01-01 00:00:00,NaN,NaT
1356275,20220601_043332_1,2022-05-31 18:33:32,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-66.0,1970-01-01 00:00:00,NaN,NaT
1622749,20220601_043347_1,2022-05-31 18:33:47,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-50.0,1970-01-01 00:00:00,NaN,NaT
1559611,20220601_043403_1,2022-05-31 18:34:03,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-34.0,1970-01-01 00:00:00,NaN,NaT
1217693,20220601_043419_1,2022-05-31 18:34:19,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-18.0,1970-01-01 00:00:00,NaN,NaT
1353262,20220601_043434_1,2022-05-31 18:34:34,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,-2.0,1970-01-01 00:00:00,NaN,NaT
1419485,20220601_043450_1,2022-05-31 18:34:50,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,14.0,1970-01-01 00:00:00,NaN,NaT
1298685,20220601_043505_1,2022-05-31 18:35:05,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,30.0,1970-01-01 00:00:00,NaN,NaT
1184267,20220601_043521_1,2022-05-31 18:35:21,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,44.0,1970-01-01 00:00:00,NaN,NaT
1350716,20220601_043537_1,2022-05-31 18:35:37,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,44.0,1970-01-01 00:00:00,NaN,NaT
1647817,20220601_043552_1,2022-05-31 18:35:52,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1089244,20220601_043608_1,2022-05-31 18:36:08,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1282860,20220601_043624_1,2022-05-31 18:36:24,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1080469,20220601_043639_1,2022-05-31 18:36:39,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1524901,20220601_043655_1,2022-05-31 18:36:55,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1444039,20220601_043711_1,2022-05-31 18:37:11,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1667166,20220601_043726_1,2022-05-31 18:37:26,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1131099,20220601_043742_1,2022-05-31 18:37:42,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1690283,20220601_043758_1,2022-05-31 18:37:58,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1461777,20220601_043813_1,2022-05-31 18:38:13,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1495086,20220601_043829_1,2022-05-31 18:38:29,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1578442,20220601_043845_1,2022-05-31 18:38:45,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1605399,20220601_043900_1,2022-05-31 18:39:00,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1427023,20220601_043916_1,2022-05-31 18:39:16,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1406243,20220601_043931_1,2022-05-31 18:39:31,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT
1401927,20220601_043947_1,2022-05-31 18:39:47,SMNW_M,101-02.300522.15.0435,1,2155269,"Tallawong Station, Platform 2",04:35am Tallawong - Chatswood,20220601,04:35:00,19.0,2022-05-31 18:35:19,NaN,NaT